<rd-header>
  <rd-header-title title-text="Dashboard"></rd-header-title>
  <rd-header-content>Endpoint summary</rd-header-content>
</rd-header>

<div class="row" ng-if="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'">
  <div class="col-sm-12">
    <dashboard-cluster-agent-info></dashboard-cluster-agent-info>
  </div>
</div>
<information-panel-offline ng-if="offlineMode"></information-panel-offline>
<information-panel
  ng-if="!applicationState.UI.dismissedInfoPanels['docker-dashboard-info-01'] && !applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
  title-text="Information"
  dismiss-action="dismissInformationPanel('docker-dashboard-info-01')">
  <span class="small">
    <p class="text-muted" ng-if="applicationState.endpoint.mode.role === 'MANAGER'">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      Portainer is connected to a node that is part of a Swarm cluster. Some resources located on other nodes in the cluster might not be available for management, have a look
      at <a href="http://portainer.readthedocs.io/en/stable/agent.html" target="_blank">our agent setup</a> for more details.
    </p>
    <p class="text-muted" ng-if="applicationState.endpoint.mode.role === 'WORKER'">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      Portainer is connected to a worker node. Swarm management features will not be available.
    </p>
  </span>
</information-panel>

<div class="row" ng-if="(!applicationState.endpoint.mode.agentProxy || applicationState.endpoint.mode.provider !== 'DOCKER_SWARM_MODE') && info && endpoint">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-tachometer-alt" title-text="HofBox - Status"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td rowspan="0" width="33%">
                <div class="grade" title="A - sehr gut  F - sehr schlecht" style="color:{{ systemGrade.color }}">{{ systemGrade.grade }}</div>
              </td>
            </tr>
            <tr>
              <td height="33%">Name</td>
              <td>{{ endpoint.Name }}</td>
              <td>Laufzeit</td>
              <td>{{ uptime | uptime }}</td>
            </tr>
            <tr>
              <td height="33%">Auslastung</td>
              <td>
                CPU: <span style="color:{{ systemGrade.cpu.color }}">{{ cpuUsage.toFixed(2) }}%</span><br>
                RAM: <span style="color:{{ systemGrade.ram.color }}">{{ memUsed | humansize }}/{{ memTotal | humansize }}</span><br>
                Festplatte: <span style="color:{{ systemGrade.disk.color }}">{{ diskUsed | humansize }}/{{ diskTotal | humansize }}</span><br>
              </td>
              <td>Temperatur</td>
              <td><span style="color:{{ systemGrade.temperature.color }}">{{ cpuTemp }}°C</span></td>
            </tr>
            <tr>
              <td>Tags</td>
              <td colspan="3">
                <span ng-if="endpoint.Tags.length === 0">
                  Keine Tags gesetzt
                </span>
                <span ng-if="endpoint.Tags.length > 0">
                  <span ng-repeat="tag in endpoint.Tags">
                    {{ tag }}{{ $last? '' : ', ' }}
                  </span>
                </span>
              </td>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="col-sm-12">
  <container-list ng-if="containers"
    title-text="Container" title-icon="fa-rocket"
    containers="containers" table-key="containers"
    templates="templates"
    select-action="selectContainer"
  ></container-list>
</div>