<!-- template -->
<div class="col-xs-12 col-md-6" ng-if="$ctrl.container" ng-click="$ctrl.onSelect($ctrl.model)" style="margin-bottom: 15px;">
  <a ui-sref="docker.containers.container({ id: $ctrl.container.Id, nodeName: $ctrl.container.NodeName })">
    <rd-widget>
      <rd-widget-body>
        <div class="full-size-logo pull-left">
            <div ng-if="$ctrl.container.info.logo">
              <span>
                <img class="blocklist-item-logo" style="margin-right: 15px;" ng-src="{{ $ctrl.container.info.logo }}" />
              </span>
            </div>
            <div class="widget-icon blue pull-left" ng-if="!$ctrl.container.info.logo">
              <span>
                  <img class="blocklist-item-logo" style="margin-top: 2px;" src="../../../../../../assets/images/icon.png" />
              </span>
          </div>
        </div>
        <div>
          <div class="pull-right">
            <div ng-if="$ctrl.container.info.isRunning"><i class="fa fa-heartbeat space-right green-icon"></i>running</div>
            <div ng-if="!$ctrl.container.info.isRunning"><i class="fa fa-heartbeat space-right red-icon"></i>stopped</div>
          </div>
          <div class="title">{{ $ctrl.container.Names[0]|trimcontainername }}</div>
          <div class="comment">{{ $ctrl.container.info.comment }}</div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </a>
</div>